<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/PROLaw/Frontend/css/style.css" type="text/css">

    <title>PROlaw</title>
  </head>
  <body>
    <section>
        <!--<img src="logo.png" alt="PROlaw logo" width="250" height="70">-->
        <div class="row no-gutters">

            <div class="">
                <div class="container align-self-center" id="form">


                    <h1>Crear cuenta</h1>
                    <p> Ingresa la siguiente información para registrarte</p>
                    <a href="index.html">Iniciar sesión</a>

                    <form>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-5">
                                <label>Nombres<span class="text-danger">*</span></label>
                                <input type="text" v-model="names" placeholder="Tu(s) nombre(s)" >    
                                <label class="text-danger" v-if="!vn && names" >{{validarNombres()}}</label>         
                            </div>
                            <div class="form-group col-md-5">
                                <label>Apellidos<span class="text-danger">*</span></label>
                                <input type="text" v-model="lastnames" placeholder="Tus apellidos">      
                                <label class="text-danger" v-if="!vl && lastnames" >{{validarApellidos()}}</label>       
                            </div>
                            <div class="form-group col-5">
                                <label>Teléfono<span class="text-danger">*</span></label>
                                <input type="text" v-model="phone" placeholder="Tu número de teléfono">   
                                <label class="text-danger" v-if="!vp && phone" >{{validarTelefono()}}</label>          
                            </div>
                            <div class="form-group col-5">
                                <label>Correo eléctronico<span class="text-danger">*</span></label>
                                <input type="text" v-model="email" placeholder="Tu dirección de correo electónico">            
                            </div>
                            <div class="form-group col-5">
                                <label>Contraseña<span class="text-danger">*</span></label>
                                <input type="password" v-model="pass" placeholder="Ingresa una contraseña">  
                                <label class="text-danger" v-if="!vps && pass" >{{validarContraseña()}}</label>      
                            </div>
                            <div class="form-group col-5">
                                <label>Confirmar Contraseña<span class="text-danger">*</span></label>
                                <input type="password" v-model="passc" placeholder="Confirma la contraseña">   
                                <label class="text-danger" v-if="!vpc && passc" >{{validarContraseñac()}}</label>      
                            </div>
                        </div>
                        <div class="form-group md-5">
                            <div>                                
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Aceptas nuestra política de privacidad & Términos y Condiciones</label>   
                            </div>            
                        </div>
                        <div class="">                           
                            <button class="btn btn-primary" v-on:click="registrar">Registrarse</button>          
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/PROLaw/Frontend/js/Register.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>